- if notice
  .alert.alert-info.alert-dismissible.fade.in
    %button.close{shop: {:dismiss => 'alert'}}
      %span &times;
    = notice
- if alert
  .alert.alert-danger.alert-dismissible.fade.in
    %button.close{shop: {:dismiss => 'alert'}}
      %span &times;
    = alert