.container
  .row
    .col-xs-12
      .partial-title
        - if defined?(@section[:icon]) && @section[:icon].present?
          = icon @section[:icon]
        - if defined?(@section[:title]) && @section[:title].present?
          = @section[:title]
  .row
    .col-xs-12
      .card
        = yield