= render 'shop/shared/structure' do
  .card-block
    = simple_form_for @shop, url: shop_index_path do |f|
      = f.input :name, label: 'Nombre de comercio'
      = f.submit 'Crear Comercio', class: 'btn btn-danger'
