// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require sweetalert2
*/
@import "bootstrap";
@import "mdb";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  background-color: color('grey', 'lighten-4');
}
a:focus, a:hover {
  color: color('red', 'base');
  text-decoration: underline;
}
.turbolinks-progress-bar {
  height: 5px;
  background-color: color('yellow', 'darken-2');
}
.btn-flat{
  color: color('grey', 'darken-2');
  @extend .z-depth-0;
  border-radius: 2px;
  border: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  margin: 6px;
  white-space: normal !important;
  word-wrap: break-word;
  padding-top: .425rem;
  padding-bottom: .425rem;
  padding-right: 8px;
  padding-left: 8px;
  font-weight: 300;
  &:hover{
    color: color('grey', 'darken-4');
    background: color('grey', 'lighten-2');
    text-decoration: none;
  }
}
.navbar{border-radius: 0;}
.navbar.navbar-full{
  .navbar-nav{
    .nav-item{
      font-size: 14px;
      border-radius: 5px;
      background-color: color('red', 'darken-4');
      &.open{
        background-color: color('blue-grey', 'darken-4');
      }
      &.margin-left{
        margin-left: 3px;
      }
      &.margin-right{
        margin-right: 3px;
      }
    }
  }
}
.partial-title{
  color: color('grey', 'darken-2');
  font-size: 18px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-group{
  &.has-error{
    .help-block{
      display: block;
      color: color('red', 'darken-2');
      border-left: 3px solid color('red', 'darken-2');
      padding-left: 5px;
      margin-top: -10px;
    }
    label{
      color: color('red', 'darken-2');
    }
  }
  .form-control:focus {
    color: #55595c;
    background-color: #fff;
    border-color: color('red', 'darken-2');
    outline: none;
  }
}